@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

html.dark body {
  background: #000;
}

html.light body {
  background: #f1f5f9;
}

body {
  font-family: "Roboto Mono", "Share Tech Mono", ui-monospace, monospace;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
